.fc-day.fc-sat.fc-past {
    background-color: blanchedalmond;
}

.fc-day.fc-sun.fc-past {
    background-color: blanchedalmond;
}

.fc-title {
    color: white;
}

#dataTable_filter,
.dataTables_filter {
    float: right;
}

.start-stop-btn {
    font-size: 200px;
    margin-left: 29%;
    color:white;
}

